<app-ui-loading *ngIf="loadingSpinner"></app-ui-loading>
<div class="backgroundImage" *ngIf="!loadingSpinner">
  <img src="{{backgroundImage}}" alt="">
  
</div>
<div class="makeImageDarker" *ngIf="!loadingSpinner"></div>
<section class="position-relative" *ngIf="!loadingSpinner">
  <div class="position-relative slideshow shadow">
    <div class="position-absolute display-center-center banner display-column">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-center-center display-column">
        <div class="title"> Welcome to Touch Music</div>
        <div class="content">"Music make your soul be better!"</div>
      </div>
    </div>
    <slideshow [height]="'100vh'" [autoPlay]="true" [showArrows]="false" [showDots]="true" [imageUrls]="imageSources"
      [autoPlayInterval]="2000" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true"
      class="position-relative">
    </slideshow>

  </div>
  <div class="position-relative musictype row">
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="{{listCountryMusic[0].image}}" alt="Type 1" class="type1">
      <div class="display-center-center playbutton large material-icons" 
      [routerLink]="[ '/playlist/country', listCountryMusic[0].name ]">play_circle_outline</div>
    </div>
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="{{listCountryMusic[1].image}}" alt="Type 2" class="type1">
      <div class="display-center-center playbutton large material-icons" 
      [routerLink]="[ '/playlist/country', listCountryMusic[1].name]">play_circle_outline</div>
    </div>
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="{{listCountryMusic[2].image}}" alt="Type 3" class="type1">
      <div class="display-center-center playbutton large material-icons" 
      [routerLink]="[ '/playlist/country', listCountryMusic[2].name]">play_circle_outline</div>
    </div>
  </div>
  <div class="position-relative margin-top-10 display-center-center">
    <div class="charts color-organe shadow">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
        <!--First slide-->
        <mdb-carousel-item *ngFor="let item of listVideo">
          <!--Mask color-->
          <div class="view" >
            <!--Video source-->
            <video class="video-fluid" autoplay loop id="{{item.id}}" class="width-100vw">
              <source src="{{item.mp4Url}}" type="video/mp4"/>
            </video>
            <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">{{item.name}}</h3>
              <p>{{item.author}}</p>
            </div>
          </div>
          <!--Caption-->
        </mdb-carousel-item>
      </mdb-carousel>
      <!--Carousel Wrapper-->
    </div>
  </div>
  <div class="position-relative margin-top-10 topten row">
    <div class="music-player display-center-center display-column margin-left-right-20 shadow margin-top-10">
      <div class="imageTitle">
        <img src="{{imagePlaylist}}" class="width-height-100 padding-10"
          style="object-fit: cover" alt="Top of playlist">
      </div>
      <div class="playerString width-height-100 padding-left-right-10">
        <div class="position-relative">
          <mat-slider class="width-100" [max]="100" [min]="0" [(ngModel)]="songService.duration" (input)="moveCurrentTime($event)"
            id="progressBar">
          </mat-slider>
        </div>
        <div class="optionButton display-center-center">
          <div class="display-flex-start flex-grow-2">
            <i class="material-icons color-white" id="loop" (click)="onSelectLoopSongs()">loop</i>
          </div>
          <p id="curTime" class="color-white margin-0-5">00:00</p>
          <div class="display-flex-end flex-grow-1">
            <i class="material-icons color-white" (click)="onSelectPlayBackward()">skip_previous</i>
          </div>
          <div class="display-flex-center flex-grow-1" *ngIf="!songService.isPlay">
            <i class="material-icons play color-white" (click)="onSelectPlayOrPauseSong()">play_circle_outline</i>
          </div>
          <div class="display-flex-center flex-grow-1" *ngIf="songService.isPlay">
            <i class="material-icons play color-white" (click)="onSelectPlayOrPauseSong()">pause_circle_outline</i>
          </div>
          <div class="display-flex-start flex-grow-1">
            <i class="material-icons color-white" (click)="onSelectPlayForward()">skip_next</i>
          </div>
          <p id="durTime" class="color-white margin-0-5">00:00</p>
          <div class="display-flex-end flex-grow-2">
            <i class="material-icons color-white" id="shuffle" (click)="onSelectShuffleSongs(playlistSong)">shuffle</i>
          </div>
        </div>
      </div>
    </div>
    <div class="playlist margin-left-right-20 shadow margin-top-10" >
      <div cdkDropList [cdkDropListData]="playlistSong" class="listSong display-flex display-column"
        (cdkDropListDropped)="drop($event)">
        <div class="song" *ngFor="let item of playlistSong" (click)="onClickSong(item)" cdkDrag>{{item.name}} -
          {{item.author}}</div>
      </div>
    </div>
  </div>
  <div class="position-relative padding-left-right-10 registration">
    <div class="background-color-white margin-top-10 define-form">
      <h3 class="color-organe display-flex-center signUpTitle">Be join</h3>
      <mat-tab-group [color]="'accent'">
        <mat-tab label="Sign up">
          <mat-form-field class="width-100 my-form-field">
            <input matInput placeholder="Email" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-between width-100">
            <mat-form-field class="width-45 my-form-field">
              <input matInput placeholder="Fisrt name" [formControl]="firstnameFormControl"
              [errorStateMatcher]="matcher">
              <mat-error *ngIf="firstnameFormControl.hasError('max')">
                Fisrt name is too long!
              </mat-error>
              <mat-error *ngIf="firstnameFormControl.hasError('required')">
                Fisrt name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
      
            <mat-form-field class="width-45 my-form-field">
              <input matInput placeholder="Last name" [formControl]="lastnameFormControl"
              [errorStateMatcher]="matcher">
              <mat-error *ngIf="lastnameFormControl.hasError('max')">
                Last name is too long!
              </mat-error>
              <mat-error *ngIf="lastnameFormControl.hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
    
          <mat-form-field class="width-100 my-form-field">
            <input matInput placeholder="Password" [formControl]="passwordFormControl"
            [errorStateMatcher]="matcher" type="password">
            <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')">
              Password is between 6 to 30 character
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    
          <mat-form-field class="width-100 my-form-field">
            <input matInput placeholder="Phone" [formControl]="phoneFormControl"
            [errorStateMatcher]="matcher">
            <mat-error *ngIf="phoneFormControl.hasError('pattern')">
              Please enter a valid phone number
            </mat-error>
            <mat-error *ngIf="phoneFormControl.hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    
          <mat-form-field class="width-100 my-form-field">
            <input matInput placeholder="Birthday"
            [min]="lengthDate.min" [max]="lengthDate.max" [matDatepicker]="picker" [formControl]="dateFormControl"
            [errorStateMatcher]="matcher">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateFormControl.hasError('required')">
              Please enter a valid birthday
            </mat-error>
          </mat-form-field>
    
          <div class="position-relative form button-sign display-flex-spaceAround justify-content-center margin-top-10">
            <button mat-button class="color-gray border-button" (click)="register()">Sign up</button>
          </div>
        </mat-tab>
        <mat-tab label="Sign in">
          <app-login></app-login>
        </mat-tab>
      </mat-tab-group>
      
    </div>
  </div>
  <footer>

  </footer>
</section>
