<div class="backgroundImage">
  <img src="./../../../assets/images/backgournd.JPG" alt="">
  
</div>
<div class="makeImageDarker"></div>
<section class="position-relative">
  <div class="position-relative slideshow shadow">
    <div class="position-absolute display-center-center banner display-column">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-center-center display-column">
        <div class="title"> Welcome to Touch Music</div>
        <div class="content">"Music make your soul be better!"</div>
      </div>
    </div>
    <slideshow [height]="'100vh'" [autoPlay]="true" [showArrows]="false" [showDots]="true" [imageUrls]="imageSources"
      [autoPlayInterval]="2000" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true"
      class="position-relative">
    </slideshow>

  </div>
  <div class="position-relative musictype row">
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="./../../../assets/images/StockSnap_J6RKMHOQBO.jpg" alt="Type 1" class="type1">
      <div class="display-center-center playbutton large material-icons">play_circle_outline</div>
    </div>
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="./../../../assets/images/StockSnap_NOLZXJLYKF.jpg" alt="Type 1" class="type1">
      <div class="display-center-center playbutton large material-icons">play_circle_outline</div>
    </div>
    <div class="round-button col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <img src="./../../../assets/images/StockSnap_X3Z67W9XV4.jpg" alt="Type 1" class="type1">
      <div class="display-center-center playbutton large material-icons">play_circle_outline</div>
    </div>
  </div>
  <div class="position-relative margin-top-10 display-center-center">
    <div class="charts color-organe shadow">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
        <!--First slide-->
        <mdb-carousel-item>
          <!--Mask color-->
          <div class="view">
            <!--Video source-->
            <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            </video>
            <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">Light mask</h3>
              <p>First text</p>
            </div>
          </div>
          <!--Caption-->
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
          <!--Mask color-->
          <div class="view">
            <!--Video source-->
            <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
            </video>
            <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">Super light mask</h3>
              <p>Secondary text</p>
            </div>
          </div>
          <!--Caption-->
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
          <!--Mask color-->
          <div class="view">
            <!--Video source-->
            <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
            </video>
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">Strong mask</h3>
              <p>Third text</p>
            </div>
          </div>
          <!--Caption-->
        </mdb-carousel-item>
        <!--/Third slide-->
      </mdb-carousel>
      <!--Carousel Wrapper-->
    </div>
  </div>
  <div class="position-relative margin-top-10 topten row">
    <div class="music-player display-center-center display-column margin-left-right-20 shadow margin-top-10">
      <div class="imageTitle">
        <img src="./../../../assets/images/concert-768722_1920.jpg" class="width-height-100 padding-10"
          style="object-fit: cover" alt="Top of playlist">
      </div>
      <div class="playerString width-height-100 padding-left-right-10">
        <div class="position-relative">
          <mat-slider class="width-100" [max]="100" [min]="0" [(ngModel)]="duration" (input)="moveCurrentTime($event)"
            id="progressBar">
          </mat-slider>
        </div>
        <div class="optionButton display-center-center">
          <div class="display-flex-start flex-grow-2">
            <i class="material-icons color-white" id="loop" (click)="onSelectLoopSongs()">loop</i>
          </div>
          <div class="display-flex-end flex-grow-1">
            <i class="material-icons color-white" (click)="onSelectPlayBackward()">skip_previous</i>
          </div>
          <div class="display-flex-center flex-grow-1" *ngIf="!isPlay">
            <i class="material-icons play color-white" (click)="onSelectPlayOrPauseSong()">play_circle_outline</i>
          </div>
          <div class="display-flex-center flex-grow-1" *ngIf="isPlay">
            <i class="material-icons play color-white" (click)="onSelectPlayOrPauseSong()">pause_circle_outline</i>
          </div>
          <div class="display-flex-start flex-grow-1">
            <i class="material-icons color-white" (click)="onSelectPlayForward()">skip_next</i>
          </div>
          <div class="display-flex-end flex-grow-2">
            <i class="material-icons color-white" id="shuffle" (click)="onSelectShuffleSongs(playlistSong)">shuffle</i>
          </div>
        </div>
      </div>
    </div>
    <div class="playlist margin-left-right-20 shadow margin-top-10">
      <div cdkDropList [cdkDropListData]="playlistSong" class="listSong display-flex width-height-100 display-column"
        (cdkDropListDropped)="drop($event)">
        <div class="song" *ngFor="let item of playlistSong" (click)="onClickSong(item)" cdkDrag>{{item.title}} -
          {{item.author}}</div>
      </div>
    </div>
  </div>
  <div class="position-relative padding-left-right-10 registration">
    <div class="background-color-white margin-top-10 define-form">
      <h3 class="color-organe display-flex-center signUpTitle">Be join</h3>
      <mat-form-field class="width-100 my-form-field">
        <input matInput placeholder="Email" value="">
      </mat-form-field>

      <mat-form-field class="width-100 my-form-field">
        <input matInput placeholder="Username" value="">
      </mat-form-field>

      <mat-form-field class="width-100 my-form-field">
        <input matInput placeholder="Password" value="">
      </mat-form-field>

      <div class="position-relative form button-sign display-flex-spaceAround">
        <button mat-button class="color-gray border-button">Sign up</button>
        <button mat-button class="color-gray border-button">Sign in</button>
      </div>
    </div>
  </div>
  <footer>

  </footer>
</section>
