<app-ui-loading *ngIf="loadingSpinner"></app-ui-loading>
<section class="background-color-dark-blue padding-top-nav padding-bottom-nav-player" *ngIf="!loadingSpinner">
  <div class="container">
    <div class="row title background-color-white border-radius-10">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img src="{{avatar.musicType1}}" class="imageTitle" alt="">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 keyword" *ngIf="data">
        <div class="songName color-organe">{{data.title}}</div>
        <div class="author color-organe">{{data.author}}</div>
        <div class="songOption display-flex-spaceAround">
            <button mdbBtn type="button" color="amber" size="sm" class="waves-light" *ngIf="isPlay" mdbWavesEffect>Play</button>
            <button mdbBtn type="button" color="amber" size="sm" class="waves-light" *ngIf="!isPlay" mdbWavesEffect>Pause</button>
            <i class="material-icons">playlist_play</i>
            <div class="display-flex">
                <i class="material-icons margin-right-10">favorite_border</i>
                <div>122.000</div>
            </div>
            <div class="display-flex">
                <i class="material-icons margin-right-10">remove_red_eye</i>
                <div>122.000</div>
            </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-20 margin-left-right-0 justify-content-between">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 content border-radius-10 background-color-white">
        <div class="video" *ngIf="videoSong">
          <h3 class="margin-top-20 font-weight-bold color-organe">Lyris</h3>
          <div>Video</div>
        </div>
        <div class="lyris">
          <h3 class="margin-top-20 font-weight-bold color-organe">Lyris</h3>
          <div>
              Made last it seen went no just when of by. Occasional entreaties comparison me difficulty so themselves.
              At brother inquiry of offices without do my service. As particular to companions at sentiments. Weather
              however luckily enquire so certain do. Aware did stood was day under ask. Dearest affixed enquire on
              explain opinion he. Reached who the mrs joy offices pleased. Towards did colonel article any parties.

              Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively
              is people so basket ladies window expect. Supply as so period it enough income he genius. Themselves
              acceptance bed sympathize get dissimilar way admiration son. Design for are edward regret met lovers. This
              are calm case roof and.

              Depart do be so he enough talent. Sociable formerly six but handsome. Up do view time they shot. He
              concluded disposing provision by questions as situation. Its estimating are motionless day sentiments end.
              Calling an imagine at forbade. At name no an what like spot. Pressed my by do affixed he studied.

              Ye on properly handsome returned throwing am no whatever. In without wishing he of picture no exposed
              talking minutes. Curiosity continual belonging offending so explained it exquisite. Do remember to
              followed yourself material mr recurred carriage. High drew west we no or at john. About or given on witty
              event. Or sociable up material bachelor bringing landlord confined. Busy so many in hung easy find well
              up. So of exquisite my an explained remainder. Dashwood denoting securing be on perceive my laughing so.

              Assure polite his really and others figure though. Day age advantages end sufficient eat expression
              travelling. Of on am father by agreed supply rather either. Own handsome delicate its property mistress
              her end appetite. Mean are sons too sold nor said. Son share three men power boy you. Now merits wonder
              effect garret own.

              Surrounded affronting favourable no mr. Lain knew like half she yet joy. Be than dull as seen very shot.
              Attachment ye so am travelling estimating projecting is. Off fat address attacks his besides. Suitable
              settling mr attended no doubtful feelings. Any over for say bore such sold five but hung.

              Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by
              recurred. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few
              led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous
              unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far
              sussex. Do theirs others merely at temper it nearer.
          </div>
        </div>
      </div>
      <div class="relatedSong border-radius-10 background-color-white">
        <h3 class="margin-top-20 font-weight-bold color-organe">Related Song</h3>
        <div>
          Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by
          recurred. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few
          led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous
          unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far
          sussex. Do theirs others merely at temper it nearer.
        </div>
      </div>
    </div>
    <div class="row col-lg-8 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-left-right-0 comment border-radius-10 background-color-white">
      <h3 class="margin-top-20 d-block width-height-100 font-weight-bold color-organe">Comment</h3>
      <div class="userComment width-100">
        <div class="media d-block d-md-flex mt-4">
            <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avartar1}}" alt="Generic placeholder image">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">Miley Steward</h5>
                <mat-form-field class="my-form-field width-100">
                  <textarea matInput placeholder="Say something"></textarea>
                </mat-form-field>
            </div>
        </div>
      </div>
      <div class="otherComment">
        <div class="media d-block d-md-flex mt-4">
          <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avartar1}}" alt="Generic placeholder image">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <h5 class="mt-0 font-weight-bold">Miley Steward</h5>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
      
              <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avarter3}}" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="mt-0 font-weight-bold">Tommy Smith</h5>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      
                      <div class="media d-block d-md-flex mt-3">
                          <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avatar2}}" alt="Generic placeholder image">
                          <div class="media-body text-center text-md-left ml-md-3 ml-0">
                              <h5 class="mt-0 font-weight-bold">Alexandra Moon</h5>
                              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                              sequi nesciunt.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avatar2}}" alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="mt-0 font-weight-bold">Sylvester the Cat</h5>
                          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                          ut labore et dolore magnam aliquam quaerat voluptatem.
                  </div>
              </div>
          </div>
        </div>
        <div class="media d-block d-md-flex mt-3">
            <img class="d-flex mb-3 mx-auto avatar" src="{{avatar.avatar2}}" alt="Generic placeholder image">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">Caroline Horwitz</h5>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </div>
        </div>
      </div>
        
    </div>
  </div>
</section>
