.margin-top-20 {
  margin-top: 20px;
}

.border-radius-10 {
  border-radius: 10px;
}

.margin-left-right-0 {
  margin-left: 0;
  margin-right: 0;
}

.title {
  width: 100%;
  height: 30vh;
  margin: 0;
}

.imageTitle{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.keyword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.songName{
  font-weight: 900;
  font-size: 30px;
}

.author {
  font-size: 20px;
}

.content{
  padding: 25px;
}

.lyris {
}

.comment {
  padding: 25px;
}

.relatedSong{
  width: 300px;
  height: 100%;
  padding: 25px;
}

.songOption {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  align-items: center;
}

.decorLink {
  font-size: 13px;
  text-decoration: underline;
}

.decorLink a {
  margin: 0 5px;
}

.font-size-13 {
  font-size: 13px;
}

.paginator {
  background: transparent;
  width: 100%;
}

.hoverList:hover {
  background: #a2b1a4;
}

.border-bottom {
  border-bottom: 1px solid #324a45;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

.video {
  width: 100%;
  position: relative;
  
}