<section>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 image background-color-gray"></div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 keyword background-color-organe"></div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 content">
      <div class="row lyris background-color-yellow"></div>
      <div class="row comment background-color-dark-blue"></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 relatedSong background-color-yellow"></div>
  </div>
</section>
