.profile {
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.content {
  width: 80vw;
  height: auto;
  margin: 10px auto;
}

.song {
  width: 100%;
  height: 400px;
}

.album {
  width: 100%;
  height: 400px;
}

.video {
  width: 100%;
  height: 400px;
}

.songDetail {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-playlist {
  width: 10em;
  height: 10em;
  object-fit: contain;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.title-playlist {
    
}