<app-ui-loading *ngIf="loadingSpinner"></app-ui-loading>
<section class="padding-bottom-nav-player padding-top-nav background-color-dark-blue width-height-100" 
  *ngIf="!loadingSpinner">
  <div class="performer width-height-100 background-color-white border-radius-10">
    
  </div>
  <div class="content row d-flex flex-column background-color-white align-items-start justify-content-start">
    <div class="song">
      
    </div>
    <div class="album">

    </div>
    <div class="video">

    </div>
  </div>
  
</section>
