<mat-sidenav-container style="height: 100vh;" autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <div class="left-text menu-item-logout position-absolute zIndex-1">
      <a (click)="onclickLogout()"
        class="color-dark-blue padding-bottom-5 border-top cursor-pointer margin-right-left-20 padding-left-right-10 width-100">Logout</a>
    </div>
    <div class="position-relative zIndex-5">
      <div class="user-infor width-180px">
        <div class="back-img">
          <div>
            <img src="{{this.avt}}" alt="user avt">
          </div>
        </div>
        <div class="padding-top-10">
          <div class="name center-text color-dark-blue">{{this.displayName}}</div>
        </div>
      </div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './user' ]">User</a></div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './country' ]">Country</a></div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './performer' ]">Performer</a></div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './songtype' ]">Song Type</a></div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './song' ]">Song</a></div>
      <div class="left-text menu-item padding-bottom-5"><a
          class="width-100 margin-right-left-20 padding-left-right-10 border-bottom color-dark-blue"
          [routerLink]="[ './album' ]">Album</a></div>
    </div>
  </mat-sidenav>

  <!-- Body -->
  <mat-sidenav-content>
    <div class="padding-10"><i class="fas fa-bars" (click)="sidenav.toggle()"></i></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>