.user-infor{
    margin: 20px;
}

.back-img{
    padding-top: 5%;
}

.back-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.padding-10{
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.border-top {
    border-top: solid 1px #a2b1a4;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.cursor-pointer{
    cursor: pointer;
}

.handle-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width-180px{
    width: 180px;
}

.menu-item {
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    display: flex;
    transition: 0.2s;
}

.menu-item :hover {
    background-color: #a2b1a4;
    color: #ffd740;
    transition: 0.2s;
}

.name {
    font-size: 1.5em;
    font-weight: 500;
}

.zIndex-5 {
    z-index: 5;
}

.zIndex-1 {
    z-index: 1;
}

.menu-item-logout {
    display: flex;
    align-items: flex-end;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.menu-item-logout :hover {
    color: #ffd740;
    background-color: #a2b1a4;
    transition: 0.2s;
}

.object-fit {
    object-fit: cover;
}