.user-infor{
    margin: 20px;
}

.back-img{
    padding-top: 5%;
}

.back-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.padding-10{
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.center-text {
    text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.handle-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width-180px{
    width: 180px;
}