<div class="background-color-dark-blue padding-top-nav padding-bottom-nav-player">
  <div class="container position-relative">
    <div class="t-main border-right">
      <ul class="list-style-none padding-0">
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23-100">TouchMusic Weekly</h2>
            <p class="color-999-100 margin-top-5 font-size-14">All of TouchMusic, Just for you</p>
          </div>
          <div class="selectionPlaylistBanner">
            <div class="selectionPlaylistBanner-gradian">
              <div class="heigh-100">
                <div class="selectionPlaylistBanner-gradian-fill-color">
                  <div class="selectionPlaylistBanner-artwork">
                    <!-- get routerlink for a tag to that playlist -->
                    <a href="#">
                      <div class="selectionPlaylistBanner-img">
                        <img class="image-100" src="https://picsum.photos/200/300/?random" alt="PlaylistBanner-img">
                      </div>
                    </a>
                    <div class="selectionPlaylistBanner-playButton">
                      <!-- click to play this playlist -->
                      <a class="selectionPlaylistBanner-playButton-link">
                        <i class="fas fa-play selectionPlaylistBanner-playButton-icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="selectionPlaylistBanner-listArea">
              <div class="selectionPlaylistBanner-listArea-scoll">
                <ul>
                  <li>1</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main-module-context">
            <div class="main-module-context-avt">
              <div class="main-module-context-img">
                <img class="image-100" src="https://picsum.photos/200/300/?random" alt="user-avt">
              </div>
            </div>
            <div class="main-module-context-p">
                <p class="color-999-100 font-size-14 margin-auto">Based on your listening history</p>
            </div>
            <div class="main-module-context-link">
              <a class="border-1px-black padding-2-11-2-10 border-radius-5 font-size-14">
                  Go to playlist
              </a>
            </div>
          </div>
        </li>
        
      </ul>
      
    </div>
    <div class="t-sidebar-right width-300px">
      asdasdasd
    </div>
  </div>
</div>
