<div class="background-color-dark-blue padding-top-nav padding-bottom-nav-player">
  <div class="container position-relative">
    <div class="t-main border-right">
      <ul class="list-style-none padding-0">
        <!-- Playlist for user -->
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23">TouchMusic Weekly</h2>
            <p class="color-999-100 margin-top-5 font-size-14">All of TouchMusic, Just for you</p>
          </div>
          <div class="selectionPlaylistBanner">
            <div class="selectionPlaylistBanner-gradian">
              <div class="heigh-100">
                <div class="selectionPlaylistBanner-gradian-fill-color">
                  <div class="selectionPlaylistBanner-artwork">
                    <!-- get routerlink for a tag to that playlist -->
                    <a href="#">
                      <div class="selectionPlaylistBanner-img">
                        <img class="image-100" src="https://picsum.photos/200/300/?random" alt="PlaylistBanner-img">
                      </div>
                    </a>
                    <div class="selectionPlaylistBanner-playButton">
                      <!-- click to play this playlist -->
                      <a class="selectionPlaylistBanner-playButton-link">
                        <i class="fas fa-play selectionPlaylistBanner-playButton-icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="selectionPlaylistBanner-listArea">
              <div class="selectionPlaylistBanner-listArea-scoll">
                <ul class="list-style-none padding-0">
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main-module-context">
            <div class="main-module-context-avt">
              <div class="main-module-context-img">
                <img class="image-100" src="https://picsum.photos/200/300/?random" alt="user-avt">
              </div>
            </div>
            <div class="main-module-context-p">
              <p class="color-999-100 font-size-14 margin-auto">Based on your listening history</p>
            </div>
            <div class="main-module-context-link">
              <a class="border-1px-black padding-2-11-2-10 border-radius-5 font-size-14">
                Go to playlist
              </a>
            </div>
          </div>
        </li>
        <!-- New song -->
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23">New Song</h2>
            <p class="color-999-100 margin-top-5 font-size-14">Newly songs</p>
          </div>
          <div class="position-relative">
            <div class="btn-pre-slider prevSong"><i class="fas fa-chevron-circle-left font-23"></i></div>
            <!-- <div class="galery-slider">
              <div class="song">
                <div class="song-back-img">
                  <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                  <div class="song-playButton">
                    <div class="song-playButton-link">
                      <i class="fas fa-play song-playButton-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="song-context">
                  <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                  <div class="song-author handal-content color-black">Bich Phuong</div>
                </div>
              </div>
            </div> -->
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideSongConfig" (init)="slickInit($event)"
              (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
              <!-- list song -->
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
            <div class="btn-next-slider nextSong"><i class="fas fa-chevron-circle-right font-23"></i></div>
          </div>
        </li>
        <!-- Top 20 -->
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23">Top 20</h2>
            <p class="color-999-100 margin-top-5 font-size-14">The most played tracks on TouchMusic this week</p>
          </div>
          <div class="selectionPlaylistBanner">
            <div class="selectionPlaylistBanner-gradian">
              <div class="heigh-100">
                <div class="selectionPlaylistBanner-gradian-fill-color">
                  <div class="selectionPlaylistBanner-artwork">
                    <!-- get routerlink for a tag to that playlist -->
                    <a href="#">
                      <div class="selectionPlaylistBanner-img">
                        <img class="image-100" src="https://picsum.photos/200/300/?random" alt="PlaylistBanner-img">
                      </div>
                    </a>
                    <div class="selectionPlaylistBanner-playButton">
                      <!-- click to play this playlist -->
                      <a class="selectionPlaylistBanner-playButton-link">
                        <i class="fas fa-play selectionPlaylistBanner-playButton-icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="selectionPlaylistBanner-listArea">
              <div class="selectionPlaylistBanner-listArea-scoll">
                <ul class="list-style-none padding-0">
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="listArea-place">
                      <div class="padding-0-8 handal-content flex-grow-2 max-width-422">
                        <span class="listArea-author color-999-100">Bich Phuong -</span>
                        <span class="listArea-songTitle color-white">Bua yeu</span>
                      </div>
                      <div class="display-flex color-white padding-0-8">
                        <i class="fas fa-play padding-0-10 font-size-11"></i>
                        <span class="font-size-11">7,000</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main-module-context">
            <div class="main-module-context-avt">
              <div class="main-module-context-img">
                <img class="image-100" src="https://picsum.photos/200/300/?random" alt="user-avt">
              </div>
            </div>
            <div class="main-module-context-p">
              <p class="color-999-100 font-size-14 margin-auto">Based on your listening history</p>
            </div>
            <div class="main-module-context-link">
              <a class="border-1px-black padding-2-11-2-10 border-radius-5 font-size-14">
                Go to playlist
              </a>
            </div>
          </div>
        </li>
        <!-- New Video -->
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23">New Video</h2>
            <p class="color-999-100 margin-top-5 font-size-14">Newly videos</p>
          </div>
          <div class="position-relative">
            <div class="btn-pre-slider prevVid"><i class="fas fa-chevron-circle-left font-23"></i></div>
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideVideoConfig" (init)="slickInit($event)"
              (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
              <!-- list song -->
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
            <div class="btn-next-slider nextVid"><i class="fas fa-chevron-circle-right font-23"></i></div>
          </div>
        </li>
        <!-- New Album -->
        <li class="main-module">
          <div class="main-module-title">
            <h2 class="font-23">New Album</h2>
            <p class="color-999-100 margin-top-5 font-size-14">Newly albums</p>
          </div>
          <div class="position-relative">
            <div class="btn-pre-slider prevAbl"><i class="fas fa-chevron-circle-left font-23"></i></div>
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideAlbumConfig" (init)="slickInit($event)"
              (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
              <!-- list song -->
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="height-265px">
                <div class="padding-0-5px">
                  <div class="song-back-img">
                    <img class="song-img" src="https://picsum.photos/200/300?image=989" alt="song-img">
                    <div class="song-playButton">
                      <div class="song-playButton-link">
                        <i class="fas fa-play song-playButton-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="song-context">
                    <div class="song-title handal-content color-black">Bua yfsafaf asffa sf asfasf as asfas asfeu</div>
                    <div class="song-author handal-content color-black">Bich Phuong</div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
            <div class="btn-next-slider nextAbl"><i class="fas fa-chevron-circle-right font-23"></i></div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="t-sidebar-right width-300px">
      asdasdasd
    </div>
  </div>
</div>