.container {
    background-color: #f8f8fa;
    padding: 0px 30px;
}

.padding-top-nav {
    padding-top: 60px;
}
.padding-bottom-nav-player{
    padding-bottom: 30px;
}
.t-sidebar-right{
    position: absolute;
    right: 0px;
    top: 0px;
}

.width-330px{
    width: 320px;
    padding-top: 30px;
    margin-right: 20px;
}

.position-relative {
    position: relative;
}

.t-main {
    margin: 0px 330px 0px 0px;
    padding: 30px 30px 0px 0px;
}

.border-right {
    border-right: 1px solid #a2b1a4 !important;
}

.font-23{
    font-size: 23px;
}

.main-module{
    border-bottom: 1px solid #a2b1a4;
    margin-bottom: 34px;
}

.margin-top-5 {
    margin-top: 5px;
}

.color-999-100{
    font-weight: 100;
    color: #a2b1a4;
}

.list-style-none {
    list-style: none;
}

.padding-0 {
    padding: 0;
}

.main-module-title{
    margin-bottom: 24px;
}

.selectionPlaylistBanner{
    position: relative;
    height: 220px;
    margin-bottom: 15px;
    background-color: #f8f8fa;
}

.selectionPlaylistBanner-gradian{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.heigh-100{
    height: 100%;
}

.selectionPlaylistBanner-gradian-fill-color{
    position: relative;
    height: 100%;
    background: linear-gradient(135deg, rgb(99, 62, 65) 0%, rgb(39, 37, 39) 100%);
}

.selectionPlaylistBanner-artwork{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 180px;
    width: 180px;
}
.selectionPlaylistBanner-img{
    width: 100%;
    height: 100%;
    background-color: #a2b1a4;
}

.image-100{
    width: 100%;
    height: 100%;
}

.selectionPlaylistBanner-playButton{
    position: absolute;
    left: 34%;
    top: 34%;
    right: 34%;
    bottom: 34%;
}

.selectionPlaylistBanner-playButton-link{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #324a45;
}

.selectionPlaylistBanner-playButton-icon{
    position: absolute;
    left: 34%;
    top: 31%;
    right: 34%;
    bottom: 34%;
    font-size: 24px;
    color: #f8f8fa;
}

.main-module-context{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
}

.font-size-14{
    font-size: 14px;
}

.main-module-context-avt{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #a2b1a4;
    border-radius: 50%;
    margin-right: 8px;
}

.main-module-context-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.margin-auto{
    margin: auto;
}

.main-module-context-link{
    position: absolute;
    right: 0;
}
.border-1px-black{
    border: 1px solid #a2b1a4;
}
.border-1px-black:hover{
    border: 1px solid #324a45;
}
.padding-2-11-2-10{
    padding: 2px 11px 2px 10px;
}

.border-radius-5{
    border-radius: 5px;
}

.selectionPlaylistBanner-listArea{
    position: absolute;
    left: 213px;
    top: 20px;
    right: 13px;
    bottom: 20px;
    overflow: hidden;
}

.selectionPlaylistBanner-listArea-scoll{
    height: 180px;
    width: 493px;
    overflow-y: scroll;
}

.listArea-place{
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    font-size: 14px;
    border-bottom: solid 1px rgba(255,255,255,.1);
}

.max-width-422{
    max-width: 422px;
}
.handal-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f8f8fa;
}

.display-flex{
    display: flex;
    align-items: center;
}

.padding-0-8{
    padding: 0 8px;
}

.padding-0-10{
    padding: 0 10px;
}

.font-size-11{
    font-size: 11px;
}

.font-size-9{
    font-size: 9px;
}

.flex-grow-2{
    flex-grow: 2;
}

.listArea-place:hover {
  background: rgba(255, 255, 255, .1);
}
/* Galery */
.galery-slider{
    width: 760px;
    height: 265px;
    margin-left: -21px;
    overflow: hidden;
    /* border: 1px dashed red; */
}

.galery-slider .song{
    display: inline-block;
    width: 180px;
    height: 250px;
    margin: 0 5px;
}

.btn-pre-slider{
    position: absolute;
    top: 85px;
    z-index: 1;
    left: -30px;
    padding: 5px;
    height: 35px;
    cursor: pointer;
    /* border: 1px solid pink; */
}

.btn-next-slider{
    position: absolute;
    top: 85px;
    right: -31px;
    z-index: 1;
    padding: 5px;
    height: 35px;
    cursor: pointer;
    /* border: 1px solid red; */
}

/* Song */
.song-back-img {
    position: relative;
    width: 100%;
    height: 180px;
    /* background-color: orange; */
    cursor: pointer;
}

.song-img{
    width: 100%;
    height: 180px;
}

.song-back-img .song-playButton{
    /* visibility: hidden; */
    display: none;
}

.song-back-img:hover .song-playButton{
    /* visibility: visible; */
    display: block;
}

.song-context{
    width: 100%;
}
.song-title{
    margin: 0;
}
.song-author{
    margin: 0;
    font-weight: 100;
}
.color-black{
    color: black;
}

.song-playButton{
    position: absolute;
    left: 34%;
    top: 34%;
    right: 34%;
    bottom: 34%;
    /* display: none; */
    cursor: pointer;
}

.song-playButton-link{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #324a45;
}

.song-playButton-icon{
    position: absolute;
    left: 34%;
    top: 31%;
    right: 34%;
    bottom: 34%;
    font-size: 24px;
    color: #f8f8fa;
}

.slick-slider{
    margin-left: -20px;
    width: 760px;
}

.height-265px{
    height: 265px;
}

.padding-0-5px{
    padding: 0 5px;
}



/* Artical */
.margin-bot-20px{
    margin-bottom: 20px;
}

.color-999 {
    color: #a2b1a4;
}

.sidebarHeader {
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid #a2b1a4;
  align-items: center;
  cursor: pointer;
  height: 30px;
}

.flex-direc-row{
    flex-direction: row;
}

.margin-right-5px{
    margin-right: 5px;
}

.margin-bot-0px{
    margin-bottom: 0px;
}

.sidebarHeader-option:hover {
    color: black;
}

.sidebarContent{
    padding-top: 5px;
}

.list-nostyle{
    list-style: none;
    margin: 0;
}

.padding-5-0{
    padding: 5px 0;
}

.margin-right-10px{
    margin-right: 10px;
}

.height-100{
    height: 100%;
}

.width-heigh-50{
    width: 50px;
    height: 50px;
}

.min-height-50{
    min-height: 50px;
}

.position-absolute{
    position: absolute;
}

.border-radius-50{
    border-radius: 50%;
    border: 1px solid #a2b1a4;
}

.flex-direction-column{
    flex-direction: column;
}

.baged-title{
    white-space: nowrap;
    margin: 6px 0 0 0;
}

.margin-top-0{
    margin-top: 0;
}

.baged-title a:hover{
    color: black;
}

.flex-grow-1{
    flex-grow: 1;
}

.stats {
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.display-flex-100{
    display: flex;
    width: 100%;;
}

.stats li:hover{
    color: black;
}

.margin-5-5-5-0{
    margin: 5px 5px 5px 0;
}

.margin-5-0-5-5{
    margin: 5px 0 5px 5px;
}

.btn-follow{
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    height: 22px;
    line-height: 16px;
    border: 1px solid #a2b1a4;
    border-radius: 3px;
    background-color: #f8f8fa;
    color: #324a45;
}

.btn-follow:hover{
    border: 1px solid black;
}

.line-height-nor{
    line-height: normal;
}

.display-flex-250px{
    display: flex;
    width: 250px;
}

.sidebar-song:hover{
    background-color: #f8f8fa;
    border-radius: 5px;
    cursor: pointer;
}

.padding-l-10{
    padding-left: 10px;
}