<app-ui-loading *ngIf="loadingSpinner"></app-ui-loading>
<div class="title color-dark-blue">
  User
</div>
<div>
  <mat-form-field class="padding-0-10 my-form-field width-100">
    <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search User" autocomplete="off">
    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="onClickClearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div>
  <mat-table mat-table [dataSource]='listdata' matSort class="width-100">

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="photoURL">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Avartar </mat-header-cell>
      <mat-cell *matCellDef="let element"><img src="{{element.photoURL}}" alt="user {{element.email}} avt"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.birthday}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleAdmin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role Admin</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role.admin}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleSubscriber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role Subscriber</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role.subscriber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="option">
      <mat-header-cell *matHeaderCellDef> Option </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onClickEdit(element)">
          <mat-icon class="mat-18">launch</mat-icon>
        </button>
        <button mat-icon-button color='warn' (click)="onDelete(element)">
          <mat-icon class="mat-18">delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef>
        Loading data....
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef>
        No Data....
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listdata!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listdata!=null && listdata.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>