<!-- First Nav non-js use boostrap -->

<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="#"  class="navbar-brand" routerLink="/welcome">
      <img src="assets/images/logo/touch-music-logo.png" width="" height="20" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <form class="form-inline m-auto">
        <div class="form-group">
          <input type="text" class="form-control width-50vh" placeholder="Search Music">
        </div>
        <button class="btn btn-secondary ml-2" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLogin">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLogin">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Second nav use-js boostrap -->

<header>
  <div class="logo display-center-center">
    <img routerLink="/welcome" src="assets/images/logo/touch-music-logo.png" height="30" class="d-inline-block align-top" alt="">
  </div>
  <nav>
    <ul>
      <li (click)="search()"><a class="material-icons">search</a></li>
      <li>
        <mat-form-field class="width-0 my-form-field" id="searchBar">
          <input matInput [(ngModel)]="searchContent">
        </mat-form-field>
      </li> 
      <li><a routerLink="/home" class="active">Home</a></li>
      <li><a data-toggle="modal" data-target="#loginModal" onclick="openLoginModal()" *ngIf="!isLogin">Login</a></li>
      <li><a data-toggle="modal" data-target="#loginModal" onclick="openRegisterModal()" *ngIf="!isLogin">Register</a></li>
      <li><a *ngIf="isLogin" (click)="profileUser()">
        <img src="{{photoURL}}" alt="photo of {{email}}" class="width-45px"> {{displayName}}</a></li>
      <li><a *ngIf="isLogin" (click)='onClickLogout()'>Logout</a></li>
    </ul>
  </nav>
  <div class="menu-toggle"><i class="fas fa-bars"></i></div>
</header>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <!-- LoginBox -->
          <div class="loginBox">
            <app-login></app-login>
          </div>
          <!-- registerBox -->
          <div class="registerBox" style="display:none;">
            <app-sign-up></app-sign-up>
          </div>
      </div>
      <div class="modal-footer">
        <!-- login -->
        <div class="login-footer">
          <span>Looking to
            <a href="javascript: showRegisterForm();">create an account</a>
            ?</span>
        </div>
        <!-- register -->
        <div class="register-footer" style="display:none">
          <span>Already have an account?</span>
          <a href="javascript: showLoginForm();">Login</a>
        </div>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
