.title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 15vh;
    font-size: 3em;
}

.paginator {
    background: transparent;
    width: 100%;
  }