<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <div class="mt-2 ml-auto group-btn-player">
      <i class="material-icons">skip_previous</i>
      <i class="material-icons">play_arrow</i>
      <i class="material-icons">skip_next</i>
    </div>
    <div class="playing-song m-auto"></div>
    <div class="mt-2 player-display-song ">
      <h6>Song name</h6>
      <p>Auther name</p>
    </div>
    <div class="mt-2 player-icon">
        <i class="material-icons">volume_up</i>
    </div>
    <div class="nav-slash"></div>
    <div class="mt-2 mr-auto player-icon">
      <i class="material-icons">favorite_border</i>
      <i class="material-icons">playlist_play</i>
    </div>
  </div>
</nav>