<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <div class="mt-2 group-btn-player">
      <i class="material-icons" (click)="onSelectPlayBackward()">skip_previous</i>
      <div *ngIf="!songService.isPlay">
        <i class="material-icons" (click)="onSelectPlayOrPauseSong()">play_arrow</i>
      </div>
      <div *ngIf="songService.isPlay">
        <i class="material-icons" (click)="onSelectPlayOrPauseSong()">pause_circle_outline</i>
      </div>
      <i class="material-icons" (click)="onSelectPlayForward()">skip_next</i>
    </div>
    <div class="playing-song m-auto"></div>
    <div class="mt-2 player-display-song">
      <div *ngIf="songService.audio">
        <h6>{{songService.audio.title}}</h6>
        <p>{{songService.audio.author}}</p>
      </div>
    </div>
    <div class="mt-2 player-icon">
        <i class="material-icons">volume_up</i>
    </div>
    <div class="nav-slash"></div>
    <div class="mt-2 mr-auto player-icon">
      <i class="material-icons">favorite_border</i>
      <i class="material-icons">playlist_play</i>
    </div>
  </div>
</nav>