<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container displayCenter">

    <div class="group-btn-player group-button">
      <i class="material-icons pointer" (click)="onSelectPlayBackward()">skip_previous</i>
      <div *ngIf="!songService.isPlay">
        <i class="material-icons font-button pointer" (click)="onSelectPlayOrPauseSong()">play_arrow</i>
      </div>
      <div *ngIf="songService.isPlay">
        <i class="material-icons font-button pointer" (click)="onSelectPlayOrPauseSong()">pause_circle_outline</i>
      </div>
      <i class="material-icons pointer" (click)="onSelectPlayForward()">skip_next</i>
    </div>
    <p id="curTime-nav" class="color-white margin-0-5 context-menu">00:00</p>
    
    <div class="position-relative displayCenter flex-grow">
      <mat-slider class="width-30vw pointer" [max]="100" [min]="0" [(ngModel)]="songService.duration"
        (input)="moveCurrentTime($event)" id="progressBar">
      </mat-slider>
    </div>
    
    <p id="durTime-nav" class="color-white margin-0-5 context-menu">00:00</p>
    <div class="player-display-song" *ngIf="songService.audio">
      <h6>{{songService.audio.title}}</h6>
      <p>{{songService.audio.author}}</p>
    </div>
    <div class="player-icon volume-icon">
        <div class="volume">
          <mat-slider vertical min="0" max="1" step="0.1" value="1" (input)="moveCurrentVolume($event)"></mat-slider>
        </div>
      <i class="material-icons pointer">volume_up</i>
    </div>
    <div class="nav-slash"></div>
    <div class="additionnal-button">
      <i class="material-icons pointer">favorite_border</i>
      <i class="material-icons pointer" (click)="openPlaylist()">playlist_play</i>
    </div>
  </div>
  <div class="playlist top-100" id="showPLaylist" *ngIf="playlist">
    <div class="contentSong">
      <div class="titlePlaylist">
          <h3>Playlist</h3>
          <i class="material-icons pointer" (click)="openPlaylist()">close</i>
      </div>
      <div cdkDropList [cdkDropListData]="playlist" class="listSong display-flex width-height-100 display-column"
        (cdkDropListDropped)="drop($event)">
        <div class="song" *ngFor="let item of playlist" (click)="onClickSong(item)" cdkDrag>{{item.title}} -
          {{item.author}}</div>
      </div>
    </div>
  </div>
</nav>
