img{
    width: 60px;
    height: 60px;
    padding: 2px;
}

.width-100{
    width: 100%;
}

.padding-0-10{
    padding: 0 10px;
}

.create-user{
    position: relative;
    height: 5%;
}

.btn-create{
    position: absolute;
    right: 10px;
    padding: 10px;
}

.hide{
    display: none;
}

.mat-footer-row .mat-footer-cell{
    justify-content: center;
    font-style: italic;
}