.profile {
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.content {
  width: 80vw;
  height: auto;
  margin: 10px auto;
}

.favoritePlaylist {
  position: relative;
}

.profileDetails {
  position: relative;
  padding-left: 0;
}

.title-details {
  padding: 0 15px;
}

.avatar {
  width: 15em;
  height: 15em;
  margin: 15px auto
}

.img-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.contentProfile {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.img-playlist {
  width: 10em;
  height: 10em;
  object-fit: contain;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.img-playlist:hover {
  box-shadow: 0 0 22px #324a45;
}

.create-playlist {
  font-size: 10em;
  color: #a2b1a4;
  width: 1em;
  height: 1em;
}

.create-playlist:hover {
  color: #324a45;
}

.title-playlist {}

.image-size-100px {
  width: 100px;
  height: 100px;
}

.size-100px {
  max-height: 100px;
}

.padding-20 {
  padding: 20px;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .profileDetails {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
  }
}

.iconFormat {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #324a45;
  border-radius: 50%;
  color: #f8f8fa;
}

.create-user {
  z-index: 1;
  background-color: #324a45;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  color: #f8f8fa;
}

// table
table {
  width: 100%;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.example-element-description {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}