<app-ui-loading *ngIf="loadingSpinner"></app-ui-loading>
<div *ngIf="!loadingSpinner">
  <div *ngIf="isCreateNewFaList">
    <h1 mat-dialog-title>Add new Favorite Playlist</h1>
    <div mat-dialog-content>
      <mat-form-field class="width-100 my-form-field">
        <input matInput placeholder="Playlist Name" 
          [formControl]="favoritePlaylistNameFCtrl" 
          [errorStateMatcher]="matcher" 
          [(ngModel)]="name">
      </mat-form-field>
      <mat-error *ngIf="favoritePlaylistNameFCtrl.hasError('max')">
        Favorite playlist name is too long
      </mat-error>
      <mat-error *ngIf="favoritePlaylistNameFCtrl.hasError('required')">
        Favorite playlist Song name is <strong>required</strong>
      </mat-error>
    </div>
    <div mat-dialog-content class="d-flex justify-content-between align-items-center">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" class="display-none" #openFile>
      <span>Choose Image: </span>
      <button mat-mini-fab class="my-form-field margin-5" matTooltip="Attach Image">
        <mat-icon class="material-icons color-dark-blue" (click)="openFile.click()">attach_file</mat-icon>
      </button>
    </div>
    <div mat-dialog-content *ngIf="haveImage">
      <div class="labelPreviewImage">
        <span class="loadImageName color-yellow">{{loadImage.name}}</span>
      </div>
      <div class="containerPreview position-relative">
        <img src="{{imagePreview}}" class="imagePreview" alt="preview">
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="cancelEdit()">Reset</button>
      <button mat-raised-button cdkFocusInitial color="accent" (click)="createNewPlaylist()">Create</button>
      <mat-progress-bar mode="determinate" [(value)]="uploadProgress" class="my-form-field"></mat-progress-bar>
    </div>
  </div>

  <div *ngIf="isAvatar">
    <h1 mat-dialog-title>Change Avatar</h1>
    <div mat-dialog-content class="position-relative width-height-100">
      <img src="{{imagePreview}}" class="imagePreview" alt="Image preview">
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button cdkFocusInitial color="accent" (click)="uploadNewAvatar()">Change</button>
      <mat-progress-bar mode="determinate" [(value)]="uploadProgress" class="my-form-field"></mat-progress-bar>
    </div>
  </div>

  <div *ngIf="isAddToFaList">
    <h1 mat-dialog-title>Your Favorite Playlists</h1>
    <div mat-dialog-content>
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create new playlist
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="width-100 my-form-field">
            <input matInput placeholder="Playlist Name" [(ngModel)]="name">
          </mat-form-field>
          <div mat-dialog-content class="d-flex justify-content-between align-items-center">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="display-none" #openFile>
            <span>Choose Image: </span>
            <button mat-mini-fab class="my-form-field margin-5" matTooltip="Attach Image">
              <mat-icon class="material-icons color-dark-blue" (click)="openFile.click()">attach_file</mat-icon>
            </button>
          </div>
          <div mat-dialog-content *ngIf="haveImage">
            <div class="labelPreviewImage">
              <span class="loadImageName color-yellow">{{loadImage.name}}</span>
            </div>
            <div class="containerPreview position-relative">
              <img src="{{imagePreview}}" class="imagePreview" alt="preview">
            </div>
          </div>
          <div mat-dialog-actions>
            <button mat-raised-button (click)="onNoClick()">No Thanks</button>
            <button mat-raised-button cdkFocusInitial color="accent" (click)="createNewPlaylist()">Ok</button>
            <mat-progress-bar mode="determinate" color="accent" [(value)]="uploadProgress" class="my-form-field"></mat-progress-bar>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          [expanded]="panelOpenState">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Choose a playlist
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div mat-dialog-content class="row d-flex just-content-center align-items-start flex-wrap">
            <div *ngFor="let item of faPlaylist"
              class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex just-content-center align-items-center flex-column padding-left-right-15">
              <img src="{{item.image}}" alt="image" class="img-playlist" (click)="addSongtofaList(item)">
              <div class="title-playlist">
                <h3>{{item.name}}</h3>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()" class="d-flex justify-content-center align-items-end">Cancel</button>
    </div>
  </div>
</div>
<div *ngIf="isVideo">
  <video width="100%" poster="data.data.imageVideo" controls>
    <source src="{{data.data.video}}" type="video/mp4">
  </video>
</div>
<div *ngIf="(isEditSongUpload || isUploadSong) && !loadingSpinner">
  <h1 mat-dialog-title>Upload Song</h1>
  <div mat-dialog-content>
    <mat-form-field class="width-100 my-form-field">
      <input matInput placeholder="Name" [formControl]="songNameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="songNameFormControl.hasError('max')">
        Song name is too long
      </mat-error>
      <mat-error *ngIf="songNameFormControl.hasError('required')">
        Song name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-100 my-form-field">
      <mat-chip-list #chipListauth aria-label="Author selection">
        <mat-chip *ngFor="let item of authors" 
          [selectable]="true" 
          [removable]="true" 
          (removed)="remove(item, true)">
          <img class="example-option-img" *ngIf="item.image" aria-hidden [src]="item.image" height="25">
          <span>{{item.name}}</span>
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input matInput placeholder="Author" #authorInput
          [formControl]="authorFormControl" 
          [matAutocomplete]="authorauto"
          [matChipInputFor]="chipListauth"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event, true)"
          [errorStateMatcher]="matcher">
      </mat-chip-list>
      
      <mat-autocomplete #authorauto="matAutocomplete" (optionSelected)="selected($event, true)">
        <mat-option *ngFor="let author of listAuthorDataFiltered | async" [value]="author">
          <img class="example-option-img" aria-hidden [src]="author.image" height="25">
          <span>{{author.name}}</span>
        </mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="authorFormControl.hasError('max')">
        Author name is too long
      </mat-error>
      <mat-error *ngIf="authorFormControl.hasError('required')">
        Author name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-100 my-form-field">
      <mat-chip-list #chipListper aria-label="Author selection">
        <mat-chip *ngFor="let item of performers" 
          [selectable]="true" 
          [removable]="true" 
          (removed)="remove(item, false)">
          <img class="example-option-img" *ngIf="item.image" aria-hidden [src]="item.image" height="25">
          <span>{{item.name}}</span>
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input matInput placeholder="Performer" #performerInput
          [formControl]="performerFormControl"
          [matAutocomplete]="performerauto"
          [matChipInputFor]="chipListper"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event, false)"
          [errorStateMatcher]="matcher">
      </mat-chip-list>
      
      <mat-autocomplete #performerauto="matAutocomplete" (optionSelected)="selected($event, false)">
        <mat-option *ngFor="let performer of listPerformerDataFiltered | async" [value]="performer">
          <img class="example-option-img" aria-hidden [src]="performer.image" height="25">
          <span>{{performer.name}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="performerFormControl.hasError('max')">
        Performer name is too long
      </mat-error>
      <mat-error *ngIf="performerFormControl.hasError('required')">
        Performer name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-between flex-wrap">
      <mat-form-field class="my-form-field width-45-percent">
        <mat-label>Country</mat-label>
        <mat-select [(value)]="countrySelected">
          <mat-option *ngFor="let country of listCountryData" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="my-form-field width-45-percent">
        <mat-label>Song Type</mat-label>
        <mat-select [(value)]="songTypeSelected">
          <mat-option *ngFor="let songtype of listSongTypeData" [value]="songtype.name">
            {{songtype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    

    <mat-form-field class="width-100 my-form-field">
      <textarea  matInput placeholder="Lyric" [formControl]="lyricFormControl" [errorStateMatcher]="matcher" class="size-height-100px"></textarea>
      <mat-error *ngIf="lyricFormControl.hasError('max')">
        Lyric content contain too many character
      </mat-error>
    </mat-form-field>

    <div class="width-100">
      <input type="file" (change)="onFileSelected($event, 'songFile')" accept="audio/*" class="display-none" #openMP3File>
      <span>Choose Song: </span>
      <div class="labelPreviewImage" *ngIf="songFile">
        <span class="loadImageName color-yellow">{{songFile.name}}</span>
      </div>
      <button mat-mini-fab class="my-form-field margin-5" (click)="openMP3File.click()" matTooltip="Attach Mp3 File">
        <mat-icon class="material-icons color-dark-blue" >attach_file</mat-icon>
      </button>
    </div>

    <div class="width-100"> 
      <input type="file" (change)="onFileSelected($event, 'songImage')" accept="image/*" class="display-none" #openMP3ImageFile>
      <span>Choose Image Song: </span>
      <div class="labelPreviewImage" *ngIf="imageSong">
        <span class="loadImageName color-yellow">{{imageSong.name}}</span>
            </div>
      <div class="position-relative" *ngIf="imageSong || isEditSongUpload">
        <img src="{{previewImageSong}}" class="size-100px" alt="preview">
      </div>
      <button mat-mini-fab class="my-form-field margin-5" (click)="openMP3ImageFile.click()" matTooltip="Attach Image">
        <mat-icon class="material-icons color-dark-blue" >attach_file</mat-icon>
      </button>
    </div>

    <div class="width-100">
      <input type="file" (change)="onFileSelected($event, 'videoFile')" accept="video/*" class="display-none" #openMP4File>
      <span>Choose Video: </span>
      <div class="labelPreviewImage" *ngIf="videoFile">
        <span class="loadImageName color-yellow">{{videoFile.name}}</span>
      </div>
      <button mat-mini-fab class="my-form-field margin-5" (click)="openMP4File.click()" matTooltip="Attach Video File">
        <mat-icon class="material-icons color-dark-blue" >attach_file</mat-icon>
      </button>
    </div>

    <div class="width-100">
      <input type="file" (change)="onFileSelected($event, 'videoImage')" accept="image/*" class="display-none" #openMP4ImageFile>
      <span>Choose Image Video: </span>
      <button mat-mini-fab class="my-form-field margin-5" (click)="openMP4ImageFile.click()" matTooltip="Attach Image">
        <mat-icon class="material-icons color-dark-blue" >attach_file</mat-icon>
      </button>
      <div class="labelPreviewImage" *ngIf="imageVideo">
        <span class="loadImageName color-yellow">{{imageVideo.name}}</span>
      </div>
      <div class="position-relative" *ngIf="imageVideo || isEditSongUpload">
        <img src="{{previewImageVideo}}" class="size-100px" alt="preview">
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button cdkFocusInitial *ngIf="isUploadSong" color="accent" (click)="uploadNewSong()">Upload</button>
    <button mat-raised-button cdkFocusInitial *ngIf="isEditSongUpload" color="accent" (click)="editUploadSong()">Edit</button>
  </div>
</div>
<div *ngIf="isEditFaPlaylist">
  <h1 mat-dialog-title>Edit Favorite Playlist</h1>
  <mat-tab-group mat-dialog-content color="accent" class="width-100">
    <mat-tab label="Name & Image">
      <div mat-dialog-content>
        <mat-form-field class="width-100 my-form-field">
          <input matInput placeholder="Playlist Name"
            [(ngModel)]="data.data.name"
            [formControl]="favoritePlaylistNameFCtrl" 
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-error *ngIf="favoritePlaylistNameFCtrl.hasError('max')">
          Favorite playlist name is too long
        </mat-error>
        <mat-error *ngIf="favoritePlaylistNameFCtrl.hasError('required')">
          Favorite playlist Song name is <strong>required</strong>
        </mat-error>
      </div>
      <div mat-dialog-content class="d-flex justify-content-between align-items-center">
        <input type="file" (change)="onFileSelected($event, 'editFaImage')" accept="image/*" class="display-none" #openFile>
        <span>Choose Image: </span>
        <button mat-mini-fab class="my-form-field margin-5" matTooltip="Attach Image">
          <mat-icon class="material-icons color-dark-blue" (click)="openFile.click()">attach_file</mat-icon>
        </button>
      </div>
      <div mat-dialog-content *ngIf="imagePreview">
        <div class="containerPreview position-relative">
          <img src="{{imagePreview}}" class="imagePreview" alt="preview">
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Song">
      <div mat-dialog-content *ngIf="data.data.details">
        <div *ngFor="let item of data.data.details" class="row d-flex align-items-center">
          <div class="col-lg-5 col-md-5 col-sm-5 col-sx-12">{{item.name}}</div>
          <div *ngFor="let author of item.author" class="col-lg-5 col-md-5 col-sm-5 col-sx-12">
            <div>{{author.name}} </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-sx-12">
            <button mat-icon-button color='warn' (click)="onRemoveSong(item)" matTooltip="Attach Image">
              <mat-icon class="mat-18 iconFormat">delete_outline</mat-icon>
            </button>
          </div>
        </div>
        <mat-paginator class="position-relative" [length]="data.data.details.length" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="resetForm()">Cancel</button>
    <button mat-raised-button cdkFocusInitial color="accent" (click)="onEditFaPlaylist()">Ok</button>
  </div>
  
</div>
